﻿<center><h1 class="page-header">Алгоритм шифрования RSA</h1></center>
<br />
<div style="font-size:14pt; text-align: right;" class="col-md-offset-2 col-md-8">
    <p>Последовательность для шифрования:</p>
    <div>
        <textarea class="form-control" id="inputPhrase"></textarea>
        <button type="button" class="btn btn-success" onclick="IsStringCorrect()">&ensp;Зашифровать&ensp;</button>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Открытый ключ:</p>
            <input type="text" class="form-control" id="publicKey" readonly />
        </div>
        <div class="col-md-3">
            <p>Закрытый ключ:</p>
            <input class="form-control" id="privateKey" readonly />
        </div>
    </div>
    <p>Зашифрованная последовательность:</p>
    <div>
        <textarea class="form-control" id="encryptedPhrase" readonly></textarea>
        <button type="button" id="btnDecrypt" class="btn btn-success col-md-offset-8" onclick="Decrypt()" disabled="disabled">Дешифрировать</button>
    </div>
    <p>Дешифрированная последовательность:</p>
    <div>
        <textarea class="form-control" id="decryptedPhrase" readonly></textarea>
    </div>
    <br />
    <button type="button" class="btn btn-default" onclick="Clear()">Очистить всё</button>
</div>
