﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page-header
{
    margin-top: 20px;
}

textarea {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 100px;
    height: 100px;
    font-size: 12pt;
}
p {
    text-align:left;
}

input {
    max-width: 100%%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12pt;
}

